// Variables
$inuit-heading-size-1:  40px !default;
$inuit-heading-size-2:  32px !default;
$inuit-heading-size-3:  24px !default;
$inuit-heading-size-4:  20px !default;
$inuit-heading-size-5:  16px !default;
$inuit-heading-size-6:  14px !default;

h1,
.#{$inuit-namespace}alpha,
%#{$inuit-namespace}alpha,
h2,
.#{$inuit-namespace}beta,
%#{$inuit-namespace}beta,
h3,
.#{$inuit-namespace}gamma,
%#{$inuit-namespace}gamma,
h4,
.#{$inuit-namespace}delta,
%#{$inuit-namespace}delta,
h5,
.#{$inuit-namespace}epsilon,
%#{$inuit-namespace}epsilon,
h6,
.#{$inuit-namespace}zeta,
%#{$inuit-namespace}zeta {
  font-family: $base-heading-family;
}
